code/node-red/flows.json
[{"id":"2e2776ba3a8c1bd4","type":"tab","label":"Volby","disabled":false,"info":"","env":[]},{"id":"f40b65e4b5de4392","type":"inject","z":"2e2776ba3a8c1bd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["4b563bf7fca62405"]]},{"id":"7dd86ed3a5f939b9","type":"http request","z":"2e2776ba3a8c1bd4","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":370,"y":80,"wires":[["198fa2da4395fa03"]]},{"id":"198fa2da4395fa03","type":"xml","z":"2e2776ba3a8c1bd4","name":"","property":"payload","attr":"","chr":"","x":530,"y":80,"wires":[["35210c706d2cbfcb"]]},{"id":"35210c706d2cbfcb","type":"change","z":"2e2776ba3a8c1bd4","name":"strip okres data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"OKRES\": payload.VYSLEDKY_KRAJ.KRAJ.OKRES.'$'.NUTS_OKRES[],\t    \"VITEZ\": payload.VYSLEDKY_KRAJ.KRAJ.OKRES.CELKEM.[HODN_KAND.'$'.PORADOVE_CISLO^(>$number(%.HLASY))][0][],\t    \"SECTENO\": payload.VYSLEDKY_KRAJ.KRAJ.OKRES.CELKEM.UCAST.\"$\".OKRSKY_ZPRAC_PROC[]\t}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\t\"OKRES\" : payload.OKRES#$i.[$lookup( {\t    \"CZ0100\": \"77\",\t    \"CZ0201\": \"72\",\t    \"CZ0202\": \"74\",\t    \"CZ0203\": \"66\",\t    \"CZ0204\": \"70\",\t    \"CZ0205\": \"71\",\t    \"CZ0206\": \"67\",\t    \"CZ0207\": \"68\",\t    \"CZ0208\": \"69\",\t    \"CZ0209\": \"76\",\t    \"CZ020A\": \"75\",\t    \"CZ020B\": \"73\",\t    \"CZ020C\": \"65\",\t    \"CZ0311\": \"53\",\t    \"CZ0312\": \"54\",\t    \"CZ0313\": \"51\",\t    \"CZ0314\": \"57\",\t    \"CZ0315\": \"55\",\t    \"CZ0316\": \"56\",\t    \"CZ0317\": \"52\",\t    \"CZ0321\": \"59\",\t    \"CZ0322\": \"58\",\t    \"CZ0323\": \"62\",\t    \"CZ0324\": \"63\",\t    \"CZ0325\": \"61\",\t    \"CZ0326\": \"64\",\t    \"CZ0327\": \"60\",\t    \"CZ0411\": \"1\",\t    \"CZ0412\": \"3\",\t    \"CZ0413\": \"2\",\t    \"CZ0421\": \"10\",\t    \"CZ0422\": \"4\",\t    \"CZ0423\": \"8\",\t    \"CZ0424\": \"5\",\t    \"CZ0425\": \"6\",\t    \"CZ0426\": \"7\",\t    \"CZ0427\": \"9\",\t    \"CZ0511\": \"11\",\t    \"CZ0512\": \"13\",\t    \"CZ0513\": \"12\",\t    \"CZ0514\": \"14\",\t    \"CZ0521\": \"18\",\t    \"CZ0522\": \"15\",\t    \"CZ0523\": \"17\",\t    \"CZ0524\": \"19\",\t    \"CZ0525\": \"16\",\t    \"CZ0531\": \"22\",\t    \"CZ0532\": \"21\",\t    \"CZ0533\": \"23\",\t    \"CZ0534\": \"20\",\t    \"CZ0631\": \"49\",\t    \"CZ0632\": \"48\",\t    \"CZ0633\": \"50\",\t    \"CZ0634\": \"46\",\t    \"CZ0635\": \"47\",\t    \"CZ0641\": \"41\",\t    \"CZ0642\": \"42\",\t    \"CZ0643\": \"43\",\t    \"CZ0644\": \"44\",\t    \"CZ0645\": \"38\",\t    \"CZ0646\": \"39\",\t    \"CZ0647\": \"45\",\t    \"CZ0711\": \"25\",\t    \"CZ0712\": \"27\",\t    \"CZ0713\": \"40\",\t    \"CZ0714\": \"34\",\t    \"CZ0715\": \"24\",\t    \"CZ0721\": \"36\",\t    \"CZ0722\": \"37\",\t    \"CZ0723\": \"33\",\t    \"CZ0724\": \"35\",\t    \"CZ0801\": \"26\",\t    \"CZ0802\": \"31\",\t    \"CZ0803\": \"30\",\t    \"CZ0804\": \"32\",\t    \"CZ0805\": \"28\",\t    \"CZ0806\": \"29\"\t  },$$.payload.OKRES[$i])],\t\"VITEZ\" : payload.VITEZ,\t\"SECTENO\" : payload.SECTENO\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":80,"wires":[["f5f544d754dd3152","2a61abe713a2b8ee"]]},{"id":"f5f544d754dd3152","type":"debug","z":"2e2776ba3a8c1bd4","name":"stripped","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":120,"wires":[]},{"id":"85f314b5e8b0b273","type":"comment","z":"2e2776ba3a8c1bd4","name":"Output Only interesting data /* try.jsonata.org - replace $payload with $$ */","info":"","x":420,"y":20,"wires":[]},{"id":"1030b17bb8099aac","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,010Praha","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ010","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":160,"wires":[["7dd86ed3a5f939b9"]]},{"id":"0fe05769d7504e7a","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,052KH","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ052","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":440,"wires":[["7dd86ed3a5f939b9"]]},{"id":"be56e50ddf461f5b","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,051LIB","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ051","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":400,"wires":[["7dd86ed3a5f939b9"]]},{"id":"edc606f90211f84a","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,042UL","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ042","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":360,"wires":[["7dd86ed3a5f939b9"]]},{"id":"d28a3213d3b3d842","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,041KV","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ041","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":320,"wires":[["7dd86ed3a5f939b9"]]},{"id":"289fe0256b0c46da","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,032PLZ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ032","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":280,"wires":[["7dd86ed3a5f939b9"]]},{"id":"e985f8ed7316a9c7","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,080MSlez+zahr","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ080","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":680,"wires":[["7dd86ed3a5f939b9"]]},{"id":"a4f9c9b184159c0d","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,072ZL","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ072","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":640,"wires":[["7dd86ed3a5f939b9"]]},{"id":"5f2bfcc7b731e67c","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,071OL","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ071","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":600,"wires":[["7dd86ed3a5f939b9"]]},{"id":"483cfb82318d5ddf","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,064JM","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ064","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":560,"wires":[["7dd86ed3a5f939b9"]]},{"id":"c89a28a1907b010c","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,063VYS","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ063","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":520,"wires":[["7dd86ed3a5f939b9"]]},{"id":"97d52fd825800827","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,053PU","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ053","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":480,"wires":[["7dd86ed3a5f939b9"]]},{"id":"5917322f00476800","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,031JČ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ031","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":240,"wires":[["7dd86ed3a5f939b9"]]},{"id":"8818e56e59352a33","type":"change","z":"2e2776ba3a8c1bd4","name":"2023,1k,020SČ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ020","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":200,"wires":[["7dd86ed3a5f939b9"]]},{"id":"2a61abe713a2b8ee","type":"change","z":"2e2776ba3a8c1bd4","name":"reorganize","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.$zip(OKRES,VITEZ,SECTENO)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":80,"wires":[["8882a09f73492ab0","983e5f531d916448"]]},{"id":"8882a09f73492ab0","type":"debug","z":"2e2776ba3a8c1bd4","name":"reo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":120,"wires":[]},{"id":"983e5f531d916448","type":"split","z":"2e2776ba3a8c1bd4","name":"split to single arrays by okres","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":440,"y":260,"wires":[["6933427e1de31d44","806772e28c408ff3","32dad0c411c069f0"]]},{"id":"6933427e1de31d44","type":"debug","z":"2e2776ba3a8c1bd4","name":"Vystup po okresech","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"5eb9d1d3c0d5b219","type":"DeviceStats","z":"2e2776ba3a8c1bd4","name":"","mem":true,"nw":false,"load":true,"hostname":false,"useString":false,"x":770,"y":820,"wires":[["7ad6b2ff24f77a5c"]]},{"id":"7ad6b2ff24f77a5c","type":"debug","z":"2e2776ba3a8c1bd4","name":"STATS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":820,"wires":[]},{"id":"806772e28c408ff3","type":"counter","z":"2e2776ba3a8c1bd4","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":1,"x":420,"y":840,"wires":[["c4a575dfc9a95665","f8722ed35f680e12"]]},{"id":"c4a575dfc9a95665","type":"filter","z":"2e2776ba3a8c1bd4","name":"","property":"count","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"76","vt":"str","output":1}],"checkall":"true","outputs":1,"x":590,"y":840,"wires":[["5eb9d1d3c0d5b219","2310a60f185548fa"]]},{"id":"f8722ed35f680e12","type":"debug","z":"2e2776ba3a8c1bd4","name":"Zpracovano okresů","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":880,"wires":[]},{"id":"f054626e7cd7d8b4","type":"change","z":"2e2776ba3a8c1bd4","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":800,"wires":[["806772e28c408ff3"]]},{"id":"2310a60f185548fa","type":"memory","z":"2e2776ba3a8c1bd4","name":"","relativeValues":false,"unitType":"mb","totalMemory":false,"usedMemory":false,"freeMemory":false,"availableMemory":false,"activeMemory":false,"buffersMemory":false,"cachedMemory":false,"slabMemory":false,"buffcacheMemory":false,"freeAvailableMemory":true,"swapTotalMemory":false,"swapUsedMemory":false,"swapFreeMemory":false,"x":760,"y":860,"wires":[["a434f8d0e189540d"]]},{"id":"bcc6222befe28f05","type":"comment","z":"2e2776ba3a8c1bd4","name":"DEBUG: Prvni udaj pri START, druhy po nacteni 76 z 77 okresu","info":"","x":570,"y":760,"wires":[]},{"id":"a434f8d0e189540d","type":"debug","z":"2e2776ba3a8c1bd4","name":"STATS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":860,"wires":[]},{"id":"32dad0c411c069f0","type":"join","z":"2e2776ba3a8c1bd4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"77","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":260,"wires":[["d7cfc56a70f2e5a6","8b95a863ea8f6632"]]},{"id":"d7cfc56a70f2e5a6","type":"debug","z":"2e2776ba3a8c1bd4","name":"DatavCelku","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":300,"wires":[]},{"id":"bb5703a5420a7f2d","type":"debug","z":"2e2776ba3a8c1bd4","name":"out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":260,"wires":[]},{"id":"7b64b2249fcc213f","type":"change","z":"2e2776ba3a8c1bd4","name":"initialize","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":220,"wires":[["32dad0c411c069f0"]]},{"id":"733cc0f9963b5885","type":"comment","z":"2e2776ba3a8c1bd4","name":"Data v celku, ted seradit","info":"","x":400,"y":360,"wires":[]},{"id":"8b95a863ea8f6632","type":"change","z":"2e2776ba3a8c1bd4","name":"TMEP format","rules":[{"t":"set","p":"payload","pt":"msg","to":"$zip(payload.$[0],payload.$[1]).\t{\t    \"id\": $number($[0]),\t    \"h\": $number($[1])\t}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.$^($number(id))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":260,"wires":[["c82ac69a62a0b173","bb5703a5420a7f2d"]]},{"id":"5089ac389aef4e5a","type":"http in","z":"2e2776ba3a8c1bd4","name":"volbyEndpoint","url":"/volby","method":"get","upload":false,"swaggerDoc":"","x":110,"y":40,"wires":[["4b563bf7fca62405"]]},{"id":"c82ac69a62a0b173","type":"http response","z":"2e2776ba3a8c1bd4","name":"","statusCode":"","headers":{"content-type":"application/json","Upgrade":"h2,h2c","Connection":"Upgrade, Keep-Alive","Accept-Ranges":"bytes","Keep-Alive":"timeout=5, max=100"},"x":1170,"y":220,"wires":[]},{"id":"4b563bf7fca62405","type":"change","z":"2e2776ba3a8c1bd4","name":"nech payload jak je","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":120,"wires":[["7b64b2249fcc213f","2310a60f185548fa","f054626e7cd7d8b4","5eb9d1d3c0d5b219","e985f8ed7316a9c7","5f2bfcc7b731e67c","a4f9c9b184159c0d","483cfb82318d5ddf","c89a28a1907b010c","97d52fd825800827","0fe05769d7504e7a","be56e50ddf461f5b","edc606f90211f84a","d28a3213d3b3d842","289fe0256b0c46da","5917322f00476800","8818e56e59352a33","1030b17bb8099aac"]]},{"id":"7296f32b84245e0f","type":"catch","z":"2e2776ba3a8c1bd4","name":"","scope":null,"uncaught":false,"x":940,"y":340,"wires":[["2be4836b2731e455"]]},{"id":"2be4836b2731e455","type":"change","z":"2e2776ba3a8c1bd4","name":"Chyba","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":340,"wires":[[]]},{"id":"93320447a22d2bac","type":"change","z":"2e2776ba3a8c1bd4","name":"TMEP format","rules":[{"t":"set","p":"payload","pt":"msg","to":"$zip(payload.$[0],payload.$[1]).\t{\t    \"id\": $number($[0]),\t    \"h\": $number($formatNumber(($number($[1])+0.00000001), \"#0.00000000;(#0.00000000)\"))\t}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.$^($number(id))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":300,"wires":[[]]}]