code/node-red/flows.json
[{"id":"2e2776ba3a8c1bd4","type":"tab","label":"Volby","disabled":false,"info":"","env":[]},{"id":"fc27315b8a1dce18","type":"group","z":"2e2776ba3a8c1bd4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5eb9d1d3c0d5b219","7ad6b2ff24f77a5c","806772e28c408ff3","c4a575dfc9a95665","f8722ed35f680e12","f054626e7cd7d8b4","2310a60f185548fa","a434f8d0e189540d","bcc6222befe28f05"],"x":14,"y":1219,"w":692,"h":182},{"id":"1770773027c24ef6","type":"group","z":"2e2776ba3a8c1bd4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["df4d67b8b853bf17","8f0b2e3dc462b727","b6e2a2ebba8406ba","dbd1ea4af359ec74","4f9796873af806f1","24f3759f5daa9818","37562428b4e4a69f"],"x":474,"y":39,"w":932,"h":162},{"id":"aef2c140b35291d6","type":"group","z":"2e2776ba3a8c1bd4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c82ac69a62a0b173","344969f64a0690b7","9fd666d742f63bda","8743c266bdbd0b16","19a7493db7d8d535"],"x":1454,"y":19,"w":552,"h":202},{"id":"736b4a7dc5c8bd5b","type":"group","z":"2e2776ba3a8c1bd4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fdcfadd51e719995","9cfca47e046577ed"],"x":34,"y":199,"w":392,"h":82},{"id":"9eab822da0836e19","type":"group","z":"2e2776ba3a8c1bd4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7296f32b84245e0f","2be4836b2731e455","5d440abdc8371116"],"x":774,"y":1279,"w":432,"h":82},{"id":"aa9e59b137f71de9","type":"group","z":"2e2776ba3a8c1bd4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f40b65e4b5de4392","5089ac389aef4e5a","9ce28dd90d523170","ee458187813820e4"],"x":14,"y":39,"w":432,"h":142},{"id":"ea07ce7f856904ef","type":"group","z":"2e2776ba3a8c1bd4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2a61abe713a2b8ee","8882a09f73492ab0","983e5f531d916448","6933427e1de31d44","32dad0c411c069f0","d7cfc56a70f2e5a6","bb5703a5420a7f2d","7b64b2249fcc213f","8b95a863ea8f6632","f8254863dad885b6","8e3da1ca8ec67857"],"x":1234,"y":539,"w":892,"h":162},{"id":"15336dabde37fb5a","type":"group","z":"2e2776ba3a8c1bd4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7dd86ed3a5f939b9","198fa2da4395fa03","35210c706d2cbfcb","f5f544d754dd3152","914e018615eaad36","c3488575c0a66497","f1e479b07216bdb6","ac2392abb3311c61","a4f2e030ca29d74b","6fd95ac5e429f48d","4247e47c0978f7c3"],"x":34,"y":479,"w":1152,"h":222},{"id":"989fa62e1664eb91","type":"group","z":"2e2776ba3a8c1bd4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["88ad38b55e8a60e4","e8b2a956e5978b44","5d667fb1110f744b","05fb7e0dabe9255f","afea19db3a80be13","6e33259294ae4a8d","bd0ec6d06b4e573b","950d50544cf95069","d54d725a3bcc90b3","aa755f8b25467ae6","7926ce03fe91396d","a0ba03d61cb5243e"],"x":34,"y":719,"w":1132,"h":222},{"id":"f40b65e4b5de4392","type":"inject","z":"2e2776ba3a8c1bd4","g":"aa9e59b137f71de9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["ee458187813820e4"]]},{"id":"7dd86ed3a5f939b9","type":"http request","z":"2e2776ba3a8c1bd4","g":"15336dabde37fb5a","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":750,"y":620,"wires":[["198fa2da4395fa03","4247e47c0978f7c3"]]},{"id":"198fa2da4395fa03","type":"xml","z":"2e2776ba3a8c1bd4","g":"15336dabde37fb5a","name":"","property":"payload","attr":"","chr":"","x":910,"y":620,"wires":[["35210c706d2cbfcb"]]},{"id":"35210c706d2cbfcb","type":"change","z":"2e2776ba3a8c1bd4","g":"15336dabde37fb5a","name":"strip okres data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"OKRES\": payload.VYSLEDKY_KRAJ.KRAJ.OKRES.'$'.NUTS_OKRES[],\t    \"VITEZ\": payload.VYSLEDKY_KRAJ.KRAJ.OKRES.CELKEM.[HODN_KAND.'$'.PORADOVE_CISLO^(>$number(%.HLASY))][0][],\t    \"SECTENO\": payload.VYSLEDKY_KRAJ.KRAJ.OKRES.CELKEM.UCAST.\"$\".OKRSKY_ZPRAC_PROC[]\t}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\t\"OKRES\" : payload.OKRES#$i.[$lookup( {\t    \"CZ0100\": \"77\",\t    \"CZ0201\": \"72\",\t    \"CZ0202\": \"74\",\t    \"CZ0203\": \"66\",\t    \"CZ0204\": \"70\",\t    \"CZ0205\": \"71\",\t    \"CZ0206\": \"67\",\t    \"CZ0207\": \"68\",\t    \"CZ0208\": \"69\",\t    \"CZ0209\": \"76\",\t    \"CZ020A\": \"75\",\t    \"CZ020B\": \"73\",\t    \"CZ020C\": \"65\",\t    \"CZ0311\": \"53\",\t    \"CZ0312\": \"54\",\t    \"CZ0313\": \"51\",\t    \"CZ0314\": \"57\",\t    \"CZ0315\": \"55\",\t    \"CZ0316\": \"56\",\t    \"CZ0317\": \"52\",\t    \"CZ0321\": \"59\",\t    \"CZ0322\": \"58\",\t    \"CZ0323\": \"62\",\t    \"CZ0324\": \"63\",\t    \"CZ0325\": \"61\",\t    \"CZ0326\": \"64\",\t    \"CZ0327\": \"60\",\t    \"CZ0411\": \"1\",\t    \"CZ0412\": \"3\",\t    \"CZ0413\": \"2\",\t    \"CZ0421\": \"10\",\t    \"CZ0422\": \"4\",\t    \"CZ0423\": \"8\",\t    \"CZ0424\": \"5\",\t    \"CZ0425\": \"6\",\t    \"CZ0426\": \"7\",\t    \"CZ0427\": \"9\",\t    \"CZ0511\": \"11\",\t    \"CZ0512\": \"13\",\t    \"CZ0513\": \"12\",\t    \"CZ0514\": \"14\",\t    \"CZ0521\": \"18\",\t    \"CZ0522\": \"15\",\t    \"CZ0523\": \"17\",\t    \"CZ0524\": \"19\",\t    \"CZ0525\": \"16\",\t    \"CZ0531\": \"22\",\t    \"CZ0532\": \"21\",\t    \"CZ0533\": \"23\",\t    \"CZ0534\": \"20\",\t    \"CZ0631\": \"49\",\t    \"CZ0632\": \"48\",\t    \"CZ0633\": \"50\",\t    \"CZ0634\": \"46\",\t    \"CZ0635\": \"47\",\t    \"CZ0641\": \"41\",\t    \"CZ0642\": \"42\",\t    \"CZ0643\": \"43\",\t    \"CZ0644\": \"44\",\t    \"CZ0645\": \"38\",\t    \"CZ0646\": \"39\",\t    \"CZ0647\": \"45\",\t    \"CZ0711\": \"25\",\t    \"CZ0712\": \"27\",\t    \"CZ0713\": \"40\",\t    \"CZ0714\": \"34\",\t    \"CZ0715\": \"24\",\t    \"CZ0721\": \"36\",\t    \"CZ0722\": \"37\",\t    \"CZ0723\": \"33\",\t    \"CZ0724\": \"35\",\t    \"CZ0801\": \"26\",\t    \"CZ0802\": \"31\",\t    \"CZ0803\": \"30\",\t    \"CZ0804\": \"32\",\t    \"CZ0805\": \"28\",\t    \"CZ0806\": \"29\"\t  },$$.payload.OKRES[$i])][],\t\"VITEZ\" : payload.VITEZ[],\t\"SECTENO\" : payload.SECTENO[]\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":620,"wires":[["f5f544d754dd3152","2a61abe713a2b8ee"]]},{"id":"f5f544d754dd3152","type":"debug","z":"2e2776ba3a8c1bd4","g":"15336dabde37fb5a","name":"PREZstripped","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":660,"wires":[]},{"id":"2a61abe713a2b8ee","type":"change","z":"2e2776ba3a8c1bd4","g":"ea07ce7f856904ef","name":"reorganize","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.$zip(OKRES,VITEZ,SECTENO)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":620,"wires":[["8882a09f73492ab0","983e5f531d916448"]]},{"id":"8882a09f73492ab0","type":"debug","z":"2e2776ba3a8c1bd4","g":"ea07ce7f856904ef","name":"reo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":660,"wires":[]},{"id":"983e5f531d916448","type":"split","z":"2e2776ba3a8c1bd4","g":"ea07ce7f856904ef","name":"split to single arrays by okres","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1580,"y":620,"wires":[["6933427e1de31d44","806772e28c408ff3","32dad0c411c069f0"]]},{"id":"6933427e1de31d44","type":"debug","z":"2e2776ba3a8c1bd4","g":"ea07ce7f856904ef","name":"Vystup po okresech","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":660,"wires":[]},{"id":"5eb9d1d3c0d5b219","type":"DeviceStats","z":"2e2776ba3a8c1bd4","g":"fc27315b8a1dce18","name":"","mem":true,"nw":false,"load":true,"hostname":false,"useString":false,"x":470,"y":1300,"wires":[["7ad6b2ff24f77a5c"]]},{"id":"7ad6b2ff24f77a5c","type":"debug","z":"2e2776ba3a8c1bd4","g":"fc27315b8a1dce18","name":"STATS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":1300,"wires":[]},{"id":"806772e28c408ff3","type":"counter","z":"2e2776ba3a8c1bd4","g":"fc27315b8a1dce18","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":1,"x":120,"y":1320,"wires":[["c4a575dfc9a95665","f8722ed35f680e12"]]},{"id":"c4a575dfc9a95665","type":"filter","z":"2e2776ba3a8c1bd4","g":"fc27315b8a1dce18","name":"","property":"count","propertyType":"msg","asArray":false,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"eq","v":"76","vt":"str","output":1}],"checkall":"true","outputs":1,"x":290,"y":1320,"wires":[["5eb9d1d3c0d5b219","2310a60f185548fa"]]},{"id":"f8722ed35f680e12","type":"debug","z":"2e2776ba3a8c1bd4","g":"fc27315b8a1dce18","name":"Zpracovano okresů","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":130,"y":1360,"wires":[]},{"id":"f054626e7cd7d8b4","type":"change","z":"2e2776ba3a8c1bd4","g":"fc27315b8a1dce18","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":1280,"wires":[["806772e28c408ff3"]]},{"id":"2310a60f185548fa","type":"memory","z":"2e2776ba3a8c1bd4","g":"fc27315b8a1dce18","name":"","relativeValues":false,"unitType":"mb","totalMemory":false,"usedMemory":false,"freeMemory":false,"availableMemory":false,"activeMemory":false,"buffersMemory":false,"cachedMemory":false,"slabMemory":false,"buffcacheMemory":false,"freeAvailableMemory":true,"swapTotalMemory":false,"swapUsedMemory":false,"swapFreeMemory":false,"x":460,"y":1340,"wires":[["a434f8d0e189540d"]]},{"id":"bcc6222befe28f05","type":"comment","z":"2e2776ba3a8c1bd4","g":"fc27315b8a1dce18","name":"DEBUG: Prvni udaj pri START, druhy po nacteni 76 z 77 okresu","info":"","x":450,"y":1260,"wires":[]},{"id":"a434f8d0e189540d","type":"debug","z":"2e2776ba3a8c1bd4","g":"fc27315b8a1dce18","name":"STATS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":1340,"wires":[]},{"id":"32dad0c411c069f0","type":"join","z":"2e2776ba3a8c1bd4","g":"ea07ce7f856904ef","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"77","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1830,"y":620,"wires":[["d7cfc56a70f2e5a6","8b95a863ea8f6632"]]},{"id":"d7cfc56a70f2e5a6","type":"debug","z":"2e2776ba3a8c1bd4","g":"ea07ce7f856904ef","name":"DatavCelku","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":660,"wires":[]},{"id":"bb5703a5420a7f2d","type":"debug","z":"2e2776ba3a8c1bd4","g":"ea07ce7f856904ef","name":"out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2010,"y":660,"wires":[]},{"id":"7b64b2249fcc213f","type":"change","z":"2e2776ba3a8c1bd4","g":"ea07ce7f856904ef","name":"initialize","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":580,"wires":[["32dad0c411c069f0"]]},{"id":"8b95a863ea8f6632","type":"change","z":"2e2776ba3a8c1bd4","g":"ea07ce7f856904ef","name":"TMEP format + pct","rules":[{"t":"set","p":"payload","pt":"msg","to":"$zip(payload.$[0],payload.$[1],payload.$[2]).\t{\t    \"id\": $number($[0]),\t    \"h\": $number($[1]),\t    \"pct\": $number($[2])\t}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.$^($number(id))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":620,"wires":[["bb5703a5420a7f2d","8743c266bdbd0b16"]]},{"id":"5089ac389aef4e5a","type":"http in","z":"2e2776ba3a8c1bd4","g":"aa9e59b137f71de9","name":"volbyEndpoint","url":"/volby","method":"get","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["9ce28dd90d523170","ee458187813820e4"]]},{"id":"c82ac69a62a0b173","type":"http response","z":"2e2776ba3a8c1bd4","g":"aef2c140b35291d6","name":"","statusCode":"","headers":{"content-type":"application/json","Upgrade":"h2,h2c","Connection":"Upgrade, Keep-Alive","Accept-Ranges":"bytes","Keep-Alive":"timeout=5, max=100"},"x":1750,"y":100,"wires":[]},{"id":"4b563bf7fca62405","type":"change","z":"2e2776ba3a8c1bd4","name":"nech payload jak je, inicializuj odtud co je potreba","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":320,"wires":[["7b64b2249fcc213f","2310a60f185548fa","f054626e7cd7d8b4","5eb9d1d3c0d5b219","d736ef687706d0f8"]]},{"id":"7296f32b84245e0f","type":"catch","z":"2e2776ba3a8c1bd4","g":"9eab822da0836e19","name":"","scope":null,"uncaught":false,"x":860,"y":1320,"wires":[["2be4836b2731e455"]]},{"id":"2be4836b2731e455","type":"change","z":"2e2776ba3a8c1bd4","g":"9eab822da0836e19","name":"Chyba","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1320,"wires":[["5d440abdc8371116"]]},{"id":"5d440abdc8371116","type":"debug","z":"2e2776ba3a8c1bd4","g":"9eab822da0836e19","name":"chyby","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":1320,"wires":[]},{"id":"914e018615eaad36","type":"loop","z":"2e2776ba3a8c1bd4","g":"15336dabde37fb5a","name":"Kraje","kind":"enum","count":"","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"[\"010\",\"020\",\"031\",\"032\",\"041\",\"042\",\"051\",\"052\",\"053\",\"063\",\"064\",\"071\",\"072\",\"080\"]","enumerationType":"json","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-count","x":350,"y":620,"wires":[[],["c3488575c0a66497"]]},{"id":"df4d67b8b853bf17","type":"http response","z":"2e2776ba3a8c1bd4","g":"1770773027c24ef6","name":"","statusCode":"","headers":{},"x":1250,"y":120,"wires":[]},{"id":"8f0b2e3dc462b727","type":"switch","z":"2e2776ba3a8c1bd4","g":"1770773027c24ef6","name":"jsou data v bufferu?","property":"vystup","propertyType":"flow","rules":[{"t":"istype","v":"array","vt":"array"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":140,"wires":[["b6e2a2ebba8406ba"],["4f9796873af806f1"]]},{"id":"b6e2a2ebba8406ba","type":"change","z":"2e2776ba3a8c1bd4","g":"1770773027c24ef6","name":"flow.vystup->","rules":[{"t":"set","p":"payload","pt":"msg","to":"vystup","tot":"flow","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":120,"wires":[["df4d67b8b853bf17","dbd1ea4af359ec74"]]},{"id":"dbd1ea4af359ec74","type":"debug","z":"2e2776ba3a8c1bd4","g":"1770773027c24ef6","name":"http response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":160,"wires":[]},{"id":"344969f64a0690b7","type":"change","z":"2e2776ba3a8c1bd4","g":"aef2c140b35291d6","name":"","rules":[{"t":"set","p":"vystup","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":140,"wires":[["9fd666d742f63bda"]]},{"id":"9fd666d742f63bda","type":"debug","z":"2e2776ba3a8c1bd4","g":"aef2c140b35291d6","name":"flow vystup","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":180,"wires":[]},{"id":"4f9796873af806f1","type":"change","z":"2e2776ba3a8c1bd4","g":"1770773027c24ef6","name":"všechno -99, fialová barva","rules":[{"t":"set","p":"payload","pt":"msg","to":"[   {     \"id\": \"77\",     \"h\": -99   },   {     \"id\": \"11\",     \"h\": -99   },   {     \"id\": \"13\",     \"h\": -99   },   {     \"id\": \"12\",     \"h\": -99   },   {     \"id\": \"14\",     \"h\": -99   },   {     \"id\": \"1\",     \"h\": -99   },   {     \"id\": \"3\",     \"h\": -99   },   {     \"id\": \"2\",     \"h\": -99   },   {     \"id\": \"18\",     \"h\": -99   },   {     \"id\": \"15\",     \"h\": -99   },   {     \"id\": \"17\",     \"h\": -99   },   {     \"id\": \"19\",     \"h\": -99   },   {     \"id\": \"16\",     \"h\": -99   },   {     \"id\": \"25\",     \"h\": -99   },   {     \"id\": \"27\",     \"h\": -99   },   {     \"id\": \"40\",     \"h\": -99   },   {     \"id\": \"34\",     \"h\": -99   },   {     \"id\": \"24\",     \"h\": -99   },   {     \"id\": \"10\",     \"h\": -99   },   {     \"id\": \"4\",     \"h\": -99   },   {     \"id\": \"8\",     \"h\": -99   },   {     \"id\": \"5\",     \"h\": -99   },   {     \"id\": \"6\",     \"h\": -99   },   {     \"id\": \"7\",     \"h\": -99   },   {     \"id\": \"9\",     \"h\": -99   },   {     \"id\": \"22\",     \"h\": -99   },   {     \"id\": \"21\",     \"h\": -99   },   {     \"id\": \"23\",     \"h\": -99   },   {     \"id\": \"20\",     \"h\": -99   },   {     \"id\": \"26\",     \"h\": -99   },   {     \"id\": \"31\",     \"h\": -99   },   {     \"id\": \"30\",     \"h\": -99   },   {     \"id\": \"32\",     \"h\": -99   },   {     \"id\": \"28\",     \"h\": -99   },   {     \"id\": \"29\",     \"h\": -99   },   {     \"id\": \"49\",     \"h\": -99   },   {     \"id\": \"48\",     \"h\": -99   },   {     \"id\": \"50\",     \"h\": -99   },   {     \"id\": \"46\",     \"h\": -99   },   {     \"id\": \"47\",     \"h\": -99   },   {     \"id\": \"36\",     \"h\": -99   },   {     \"id\": \"37\",     \"h\": -99   },   {     \"id\": \"33\",     \"h\": -99   },   {     \"id\": \"35\",     \"h\": -99   },   {     \"id\": \"59\",     \"h\": -99   },   {     \"id\": \"58\",     \"h\": -99   },   {     \"id\": \"62\",     \"h\": -99   },   {     \"id\": \"63\",     \"h\": -99   },   {     \"id\": \"61\",     \"h\": -99   },   {     \"id\": \"64\",     \"h\": -99   },   {     \"id\": \"60\",     \"h\": -99   },   {     \"id\": \"53\",     \"h\": -99   },   {     \"id\": \"54\",     \"h\": -99   },   {     \"id\": \"51\",     \"h\": -99   },   {     \"id\": \"57\",     \"h\": -99   },   {     \"id\": \"55\",     \"h\": -99   },   {     \"id\": \"56\",     \"h\": -99   },   {     \"id\": \"52\",     \"h\": -99   },   {     \"id\": \"41\",     \"h\": -99   },   {     \"id\": \"42\",     \"h\": -99   },   {     \"id\": \"43\",     \"h\": -99   },   {     \"id\": \"44\",     \"h\": -99   },   {     \"id\": \"38\",     \"h\": -99   },   {     \"id\": \"39\",     \"h\": -99   },   {     \"id\": \"45\",     \"h\": -99   },   {     \"id\": \"75\",     \"h\": -99   },   {     \"id\": \"73\",     \"h\": -99   },   {     \"id\": \"65\",     \"h\": -99   },   {     \"id\": \"72\",     \"h\": -99   },   {     \"id\": \"74\",     \"h\": -99   },   {     \"id\": \"66\",     \"h\": -99   },   {     \"id\": \"70\",     \"h\": -99   },   {     \"id\": \"71\",     \"h\": -99   },   {     \"id\": \"67\",     \"h\": -99   },   {     \"id\": \"68\",     \"h\": -99   },   {     \"id\": \"69\",     \"h\": -99   },   {     \"id\": \"76\",     \"h\": -99   } ]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":160,"wires":[["df4d67b8b853bf17","dbd1ea4af359ec74"]]},{"id":"c3488575c0a66497","type":"template","z":"2e2776ba3a8c1bd4","g":"15336dabde37fb5a","name":"2.half URL assembly","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload}}}{{{loop.value}}}","output":"str","x":340,"y":560,"wires":[["914e018615eaad36","ac2392abb3311c61"]]},{"id":"d736ef687706d0f8","type":"switch","z":"2e2776ba3a8c1bd4","name":"prezident(1-2), PSCR(3-4), nebo jine volby(5)?","property":"req.query.typ","propertyType":"msg","rules":[{"t":"eq","v":"prezident","vt":"str"},{"t":"null"},{"t":"eq","v":"pscr","vt":"str"},{"t":"eq","v":"ps","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":220,"y":380,"wires":[["f1e479b07216bdb6"],["f1e479b07216bdb6"],["88ad38b55e8a60e4"],["88ad38b55e8a60e4"],["7039cd647f353589"]]},{"id":"7039cd647f353589","type":"debug","z":"2e2776ba3a8c1bd4","name":"Jiny typ voleb","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":420,"wires":[]},{"id":"fdcfadd51e719995","type":"api-call-service","z":"2e2776ba3a8c1bd4","g":"736b4a7dc5c8bd5b","name":"restart mapy","server":"94a03777.fe17f8","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":["b8f0fe278fc87d0ef0da0589e93ec05f"],"entityId":["switch.restart_rgbcrmap"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":240,"wires":[[]]},{"id":"9cfca47e046577ed","type":"inject","z":"2e2776ba3a8c1bd4","g":"736b4a7dc5c8bd5b","name":"Restartuj mapu","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":240,"wires":[["fdcfadd51e719995"]]},{"id":"f1e479b07216bdb6","type":"template","z":"2e2776ba3a8c1bd4","g":"15336dabde37fb5a","name":"1.half URL assembly","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://www.volby.cz/pls/prez{{{req.query.rok}}}/vysledky_kraj?kolo={{{req.query.kolo}}}&nuts=CZ","output":"str","x":160,"y":620,"wires":[["914e018615eaad36"]]},{"id":"ac2392abb3311c61","type":"change","z":"2e2776ba3a8c1bd4","g":"15336dabde37fb5a","name":"payload2URL","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":620,"wires":[["7dd86ed3a5f939b9","a4f2e030ca29d74b"]]},{"id":"a4f2e030ca29d74b","type":"debug","z":"2e2776ba3a8c1bd4","g":"15336dabde37fb5a","name":"debug 34","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":660,"wires":[]},{"id":"9ce28dd90d523170","type":"debug","z":"2e2776ba3a8c1bd4","g":"aa9e59b137f71de9","name":"vstupni dotaz","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":140,"wires":[]},{"id":"ee458187813820e4","type":"change","z":"2e2776ba3a8c1bd4","g":"aa9e59b137f71de9","name":"","rules":[{"t":"set","p":"buff","pt":"msg","to":"payload.buff","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":100,"wires":[["4b563bf7fca62405","9ce28dd90d523170","24f3759f5daa9818"]]},{"id":"8743c266bdbd0b16","type":"switch","z":"2e2776ba3a8c1bd4","g":"aef2c140b35291d6","name":"nebuferovane?","property":"buff","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1580,"y":100,"wires":[["c82ac69a62a0b173","344969f64a0690b7"],["344969f64a0690b7"]]},{"id":"24f3759f5daa9818","type":"switch","z":"2e2776ba3a8c1bd4","g":"1770773027c24ef6","name":"buferovane?","property":"buff","propertyType":"msg","rules":[{"t":"neq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":140,"wires":[["8f0b2e3dc462b727"]]},{"id":"37562428b4e4a69f","type":"comment","z":"2e2776ba3a8c1bd4","g":"1770773027c24ef6","name":"Bufferovany vystup? - ulozena data z flow nebo -99 a http response","info":"","x":740,"y":80,"wires":[]},{"id":"19a7493db7d8d535","type":"comment","z":"2e2776ba3a8c1bd4","g":"aef2c140b35291d6","name":"Uloz ziskana data do flow vzdy. Nebufferovany vystup? + http response","info":"","x":1730,"y":60,"wires":[]},{"id":"6fd95ac5e429f48d","type":"comment","z":"2e2776ba3a8c1bd4","g":"15336dabde37fb5a","name":"Sestav vsechny URL dotazuu na data pro prezidentske volby (rok,kolo,vsechny kraje) a vykonej dotazy na data","info":"","x":430,"y":520,"wires":[]},{"id":"f8254863dad885b6","type":"comment","z":"2e2776ba3a8c1bd4","g":"ea07ce7f856904ef","name":"Zpracuj data, na vstupu tri serazena pole {[OKRES],[VITEZ],[SECTENO]}","info":"OKRES je jiz zde ocekavan jako cislo LED na mape 1..77","x":1520,"y":580,"wires":[]},{"id":"dd7b8a97b9d3a8fe","type":"comment","z":"2e2776ba3a8c1bd4","name":"Poklikej na mne pro dalsi info. http://homeassistant:1880/endpoint/volby?buff=true&typ=prezident&kolo=1&rok=2023","info":"Pro volani tohoto flow je ocekavan dotaz ve tvaru:\n\nhttp://homeassistant:1880/endpoint/volby?buff=true&typ=prezident&kolo=1&rok=2023\n\n- http nebo https zalezi na nastaveni Node-RED doplnku v Home Assistantu, http je vychozi\n- port dtto, 1880 je vychozi\n- namisto homeassistant(vychozi nazev) lze pouzit IP adresu\n\n- rok je povinný parametr, lze zadat i případně namísto rok=2023 i rok=2023nss\n\n- typ je volitelny, \n                      prezident nebo neuveden => prezidentske volby\n                      ps nebo pscr => poslanecke volby\n\n- kolo je volitelný parametr (při vynechání zobrazuje aktuální kolo prezidentskych voleb, v pripade poslaneckych je tento parametr ignorovan)\n\n- buff je volitelny, \nbuff=false nedoporucuji pod ESPHome, pod Arduino by to nemuselo vadit.\n\nPokud je buff=false tak toto flow \nvrati vzdy aktualni data namisto dat starsich (ziskanych vzdy v predchozim dotazu)\n\nZiskani dat zabere pravdepodobne vice nez 5s a ESP32 pod ESPHome havaruje \nz duvodu chyby http komponenty:\nviz https://github.com/esphome/issues/issues/2853\n\nDelka zpracovani je hlavne zpusobena tim ze \nse generuje celkem 14 dotazu (prezidentske), nebo 77 dotazu (poslanecke) ktere vrati vysledky pro cca 6000 obci v CR\nktere je nutne vyfiltrovat\n\nPro debug JSONata dotazu staci zkopirovat z debug okna payload\na na https://try.jsonata.org v levem okne pouzit konstrukci \n{\"payload\": CTRL+V    }\n\nZdroj dat viz https://www.volby.cz/opendata/opendata.htm\n\nKompletni projekt pro Home Assistant (ESPHome + Node-RED), rozšíření pro výsledky voleb: \nhttps://github.com/kiklhorn/yomamamap_HA\n\nPuvodni autor mapy: https://github.com/tomasbrincil/pcb_mapa_cr_1\nObjednání mapy: https://forms.gle/DAS6gksyBvNbf8TD8","x":1070,"y":280,"wires":[]},{"id":"4247e47c0978f7c3","type":"debug","z":"2e2776ba3a8c1bd4","g":"15336dabde37fb5a","name":"http request out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":660,"wires":[]},{"id":"8e3da1ca8ec67857","type":"change","z":"2e2776ba3a8c1bd4","g":"ea07ce7f856904ef","name":"TMEP format","rules":[{"t":"set","p":"payload","pt":"msg","to":"$zip(payload.$[0],payload.$[1]).\t{\t    \"id\": $number($[0]),\t    \"h\": $number($[1])\t}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.$^($number(id))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":580,"wires":[[]]},{"id":"88ad38b55e8a60e4","type":"template","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"1.half URL assembly","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://www.volby.cz/pls/ps{{{req.query.rok}}}/vysledky_okres?nuts=","output":"str","x":160,"y":860,"wires":[["5d667fb1110f744b"]]},{"id":"e8b2a956e5978b44","type":"template","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"2.half URL assembly","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload}}}{{{loop.value}}}","output":"str","x":340,"y":800,"wires":[["5d667fb1110f744b","05fb7e0dabe9255f"]]},{"id":"5d667fb1110f744b","type":"loop","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"Okresy","kind":"enum","count":"","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"[   \"CZ0100\",   \"CZ0201\",   \"CZ0202\",   \"CZ0203\",   \"CZ0204\",   \"CZ0205\",   \"CZ0206\",   \"CZ0207\",   \"CZ0208\",   \"CZ0209\",   \"CZ020A\",   \"CZ020B\",   \"CZ020C\",   \"CZ0311\",   \"CZ0312\",   \"CZ0313\",   \"CZ0314\",   \"CZ0315\",   \"CZ0316\",   \"CZ0317\",   \"CZ0321\",   \"CZ0322\",   \"CZ0323\",   \"CZ0324\",   \"CZ0325\",   \"CZ0326\",   \"CZ0327\",   \"CZ0411\",   \"CZ0412\",   \"CZ0413\",   \"CZ0421\",   \"CZ0422\",   \"CZ0423\",   \"CZ0424\",   \"CZ0425\",   \"CZ0426\",   \"CZ0427\",   \"CZ0511\",   \"CZ0512\",   \"CZ0513\",   \"CZ0514\",   \"CZ0521\",   \"CZ0522\",   \"CZ0523\",   \"CZ0524\",   \"CZ0525\",   \"CZ0531\",   \"CZ0532\",   \"CZ0533\",   \"CZ0534\",   \"CZ0631\",   \"CZ0632\",   \"CZ0633\",   \"CZ0634\",   \"CZ0635\",   \"CZ0641\",   \"CZ0642\",   \"CZ0643\",   \"CZ0644\",   \"CZ0645\",   \"CZ0646\",   \"CZ0647\",   \"CZ0711\",   \"CZ0712\",   \"CZ0713\",   \"CZ0714\",   \"CZ0715\",   \"CZ0721\",   \"CZ0722\",   \"CZ0723\",   \"CZ0724\",   \"CZ0801\",   \"CZ0802\",   \"CZ0803\",   \"CZ0804\",   \"CZ0805\",   \"CZ0806\" ]","enumerationType":"json","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-count","x":360,"y":860,"wires":[[],["e8b2a956e5978b44"]]},{"id":"a0ba03d61cb5243e","type":"debug","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"JSON","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":900,"wires":[]},{"id":"503c4ccaec1b929c","type":"inject","z":"2e2776ba3a8c1bd4","name":"pscr, 2021","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://www.volby.cz/pls/ps2021/vysledky_okres?nuts=","payloadType":"str","x":220,"y":960,"wires":[["5d667fb1110f744b","7b64b2249fcc213f"]]},{"id":"05fb7e0dabe9255f","type":"change","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"payload2URL","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":860,"wires":[["6e33259294ae4a8d","afea19db3a80be13"]]},{"id":"afea19db3a80be13","type":"debug","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"debug 36","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":900,"wires":[]},{"id":"6e33259294ae4a8d","type":"http request","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":750,"y":860,"wires":[["950d50544cf95069","bd0ec6d06b4e573b"]]},{"id":"bd0ec6d06b4e573b","type":"debug","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"http request out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":900,"wires":[]},{"id":"950d50544cf95069","type":"xml","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"","property":"payload","attr":"","chr":"","x":910,"y":860,"wires":[["d54d725a3bcc90b3","a0ba03d61cb5243e"]]},{"id":"d54d725a3bcc90b3","type":"change","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"strip okres data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"OKRES\": payload.VYSLEDKY_OKRES.OKRES.'$'.NUTS_OKRES[],\t    \"VITEZ\": payload.VYSLEDKY_OKRES.OKRES.[HLASY_STRANA.'$'.KSTRANA^(>$number(%.HLASY))][0][],\t    \"SECTENO\": payload.VYSLEDKY_OKRES.OKRES.UCAST.\"$\".OKRSKY_ZPRAC_PROC[]\t}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\t\"OKRES\" : payload.OKRES#$i.[$lookup( {\t    \"CZ0100\": \"77\",\t    \"CZ0201\": \"72\",\t    \"CZ0202\": \"74\",\t    \"CZ0203\": \"66\",\t    \"CZ0204\": \"70\",\t    \"CZ0205\": \"71\",\t    \"CZ0206\": \"67\",\t    \"CZ0207\": \"68\",\t    \"CZ0208\": \"69\",\t    \"CZ0209\": \"76\",\t    \"CZ020A\": \"75\",\t    \"CZ020B\": \"73\",\t    \"CZ020C\": \"65\",\t    \"CZ0311\": \"53\",\t    \"CZ0312\": \"54\",\t    \"CZ0313\": \"51\",\t    \"CZ0314\": \"57\",\t    \"CZ0315\": \"55\",\t    \"CZ0316\": \"56\",\t    \"CZ0317\": \"52\",\t    \"CZ0321\": \"59\",\t    \"CZ0322\": \"58\",\t    \"CZ0323\": \"62\",\t    \"CZ0324\": \"63\",\t    \"CZ0325\": \"61\",\t    \"CZ0326\": \"64\",\t    \"CZ0327\": \"60\",\t    \"CZ0411\": \"1\",\t    \"CZ0412\": \"3\",\t    \"CZ0413\": \"2\",\t    \"CZ0421\": \"10\",\t    \"CZ0422\": \"4\",\t    \"CZ0423\": \"8\",\t    \"CZ0424\": \"5\",\t    \"CZ0425\": \"6\",\t    \"CZ0426\": \"7\",\t    \"CZ0427\": \"9\",\t    \"CZ0511\": \"11\",\t    \"CZ0512\": \"13\",\t    \"CZ0513\": \"12\",\t    \"CZ0514\": \"14\",\t    \"CZ0521\": \"18\",\t    \"CZ0522\": \"15\",\t    \"CZ0523\": \"17\",\t    \"CZ0524\": \"19\",\t    \"CZ0525\": \"16\",\t    \"CZ0531\": \"22\",\t    \"CZ0532\": \"21\",\t    \"CZ0533\": \"23\",\t    \"CZ0534\": \"20\",\t    \"CZ0631\": \"49\",\t    \"CZ0632\": \"48\",\t    \"CZ0633\": \"50\",\t    \"CZ0634\": \"46\",\t    \"CZ0635\": \"47\",\t    \"CZ0641\": \"41\",\t    \"CZ0642\": \"42\",\t    \"CZ0643\": \"43\",\t    \"CZ0644\": \"44\",\t    \"CZ0645\": \"38\",\t    \"CZ0646\": \"39\",\t    \"CZ0647\": \"45\",\t    \"CZ0711\": \"25\",\t    \"CZ0712\": \"27\",\t    \"CZ0713\": \"40\",\t    \"CZ0714\": \"34\",\t    \"CZ0715\": \"24\",\t    \"CZ0721\": \"36\",\t    \"CZ0722\": \"37\",\t    \"CZ0723\": \"33\",\t    \"CZ0724\": \"35\",\t    \"CZ0801\": \"26\",\t    \"CZ0802\": \"31\",\t    \"CZ0803\": \"30\",\t    \"CZ0804\": \"32\",\t    \"CZ0805\": \"28\",\t    \"CZ0806\": \"29\"\t  },$$.payload.OKRES[$i])][],\t\"VITEZ\" : payload.VITEZ[],\t\"SECTENO\" : payload.SECTENO[]\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":860,"wires":[["aa755f8b25467ae6","2a61abe713a2b8ee"]]},{"id":"aa755f8b25467ae6","type":"debug","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"PSstripped","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":900,"wires":[]},{"id":"290d773f759d19c1","type":"inject","z":"2e2776ba3a8c1bd4","name":"single 2021,praha","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://www.volby.cz/pls/ps2021/vysledky_okres?nuts=CZ0100","payloadType":"str","x":250,"y":1160,"wires":[["05fb7e0dabe9255f"]]},{"id":"7926ce03fe91396d","type":"comment","z":"2e2776ba3a8c1bd4","g":"989fa62e1664eb91","name":"Sestav vsechny URL dotazuu na data pro volby do PSCR (rok,vsechny okresy) a vykonej dotazy na data","info":"","x":410,"y":760,"wires":[]},{"id":"16463554093df028","type":"inject","z":"2e2776ba3a8c1bd4","name":"pscr, 2017","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://www.volby.cz/pls/ps2017/vysledky_okres?nuts=","payloadType":"str","x":220,"y":1000,"wires":[["5d667fb1110f744b","7b64b2249fcc213f"]]},{"id":"21c2f78e349a03cc","type":"inject","z":"2e2776ba3a8c1bd4","name":"pscr, 2013","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://www.volby.cz/pls/ps2013/vysledky_okres?nuts=","payloadType":"str","x":220,"y":1040,"wires":[["5d667fb1110f744b","7b64b2249fcc213f"]]},{"id":"dc3579a296692de9","type":"inject","z":"2e2776ba3a8c1bd4","name":"pscr, 2010","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://www.volby.cz/pls/ps2010/vysledky_okres?nuts=","payloadType":"str","x":220,"y":1080,"wires":[["5d667fb1110f744b","7b64b2249fcc213f"]]},{"id":"473e943f1a12c861","type":"inject","z":"2e2776ba3a8c1bd4","name":"pscr, 2006","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://www.volby.cz/pls/ps2006/vysledky_okres?nuts=","payloadType":"str","x":220,"y":1120,"wires":[["5d667fb1110f744b","7b64b2249fcc213f"]]},{"id":"94a03777.fe17f8","type":"server","name":"Home Assistant","addon":true}]