code/node-red/volby-flows.json
[{"id":"a289f9e1cf266fc3","type":"tab","label":"Volby","disabled":false,"info":"","env":[]},{"id":"a2567903d5279af6","type":"inject","z":"a289f9e1cf266fc3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["3260284ea73eb284","072785f97ad2706d","b0a1cbfe5c2d7918","2ac90fdea41e6def","0b277c491ea3c590","34c3a630a01631da","485b1f97f899de74","5e61722868f14852","d78791c8e7f45710","45b24aa667aef31c","bf409d71b8ee87e3","3d9dbeeeb65759b4","9576505243891d90","508ef7e74c039b72"]]},{"id":"6e33cef6a4f65d91","type":"http request","z":"a289f9e1cf266fc3","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":80,"wires":[["73ee3dc51fcbb2fc"]]},{"id":"73ee3dc51fcbb2fc","type":"xml","z":"a289f9e1cf266fc3","name":"","property":"payload","attr":"","chr":"","x":590,"y":80,"wires":[["990eaf2d8d7aca82"]]},{"id":"990eaf2d8d7aca82","type":"change","z":"a289f9e1cf266fc3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"OKRES\": payload.VYSLEDKY_KRAJ.KRAJ.OKRES.'$'.NUTS_OKRES[],\t    \"VITEZ\": payload.VYSLEDKY_KRAJ.KRAJ.OKRES.CELKEM.[HODN_KAND.'$'.PORADOVE_CISLO^(>$number(%.HLASY))][0][],\t    \"SECTENO\": payload.VYSLEDKY_KRAJ.KRAJ.OKRES.CELKEM.UCAST.\"$\".OKRSKY_ZPRAC_PROC[]\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":80,"wires":[["d89561e4a373f1e9","d44b7c1f69e18793"]]},{"id":"d89561e4a373f1e9","type":"debug","z":"a289f9e1cf266fc3","name":"stripped","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":80,"wires":[]},{"id":"f2bdddb78ac96640","type":"comment","z":"a289f9e1cf266fc3","name":"Output Only interesting data /* try.jsonata.org - replace $payload with $$ */","info":"","x":480,"y":40,"wires":[]},{"id":"3260284ea73eb284","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,010Praha","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ010","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":160,"wires":[["6e33cef6a4f65d91"]]},{"id":"5e61722868f14852","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,052KH","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ052","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":440,"wires":[["6e33cef6a4f65d91"]]},{"id":"485b1f97f899de74","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,051LIB","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ010","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":400,"wires":[["6e33cef6a4f65d91"]]},{"id":"34c3a630a01631da","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,042UL","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ042","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":360,"wires":[["6e33cef6a4f65d91"]]},{"id":"0b277c491ea3c590","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,041KV","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ041","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":320,"wires":[["6e33cef6a4f65d91"]]},{"id":"2ac90fdea41e6def","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,032PLZ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ032","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":280,"wires":[["6e33cef6a4f65d91"]]},{"id":"508ef7e74c039b72","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,080MSlez+zahr","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ080","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":680,"wires":[["6e33cef6a4f65d91"]]},{"id":"9576505243891d90","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,072ZL","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ072","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":640,"wires":[["6e33cef6a4f65d91"]]},{"id":"3d9dbeeeb65759b4","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,071OL","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ071","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":600,"wires":[["6e33cef6a4f65d91"]]},{"id":"bf409d71b8ee87e3","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,064JM","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ064","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":560,"wires":[["6e33cef6a4f65d91"]]},{"id":"45b24aa667aef31c","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,063VYS","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ063","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":520,"wires":[["6e33cef6a4f65d91"]]},{"id":"d78791c8e7f45710","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,053PU","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ053","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":480,"wires":[["6e33cef6a4f65d91"]]},{"id":"b0a1cbfe5c2d7918","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,031JČ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ031","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["6e33cef6a4f65d91"]]},{"id":"072785f97ad2706d","type":"change","z":"a289f9e1cf266fc3","name":"2023,1k,020SČ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.volby.cz/pls/prez2023nss/vysledky_kraj?kolo=1&nuts=CZ020","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["6e33cef6a4f65d91"]]},{"id":"d44b7c1f69e18793","type":"change","z":"a289f9e1cf266fc3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.$zip(OKRES,VITEZ,SECTENO)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":180,"wires":[["515d8bd75fe1f2bb","ce313aa25fdbcbd1"]]},{"id":"515d8bd75fe1f2bb","type":"debug","z":"a289f9e1cf266fc3","name":"reo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":180,"wires":[]},{"id":"ce313aa25fdbcbd1","type":"split","z":"a289f9e1cf266fc3","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1090,"y":240,"wires":[["174e9382db80be2a"]]},{"id":"174e9382db80be2a","type":"debug","z":"a289f9e1cf266fc3","name":"split","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":240,"wires":[]}]